/* CUSTOM PROPERTIES  */
:root {
    --footer-height: 100px;
    --side-bar-width: 250px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    height: 100vh;

}

.top-app {
    height: calc(100% - var(--footer-height));
    display: flex;
    background-color: black;
}

.action-bar {
    height: var(--footer-height);
    background-color: rgb(60, 59, 59);

}

.side-bar {
   width: var(--side-bar-width);

   /* debug  */
   border: 1px solid black;
   min-height: 200px;
}

.content {
   width: calc(100% - var(--side-bar-width));
    /* debug  */
    border: 1px solid black;
     min-height: 200px;

}

.header {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - var(--side-bar-width));
    padding: 20px;
    background-color: rgb(10, 10, 67);
}

.main-content {
    background-color: rgb(32, 32, 46);
    height: 100%;
    padding-top: 70px;
    overflow-y: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 6);
    padding: 20px;

    /* debug  */
    border: 1px solid black;
    min-height: 200px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.playlist-title {
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: large;
}

.download {
    position: absolute;
    margin-top: 330px;
}

.account {
    color: white;
    
}

.side-bar-elements {
    margin-top: 20px;
}

h2 {
    color: white;
    padding-bottom: 20px;
}

.content-title {
    color: white;
}

.subtitle {
    color: rgb(192, 192, 192);
}

/**************/
/* Media query */
/**************/

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 425px) {
    :root {
        --side-bar-width: 80px;
    }
}